header:hober{
    background-color: #30b2c4;
    height: 70PX;  
  }

  .header-logo{color: pink;
    text-align: center;
    font-weight: 600;
    background-color: green;
    padding: 50px;
    font-size: 35px;
    border-bottom: seashell;
 }

 .header-list{color: red;
    text-align: center;
    font-weight: 600;
    background-color: green;
    padding: 50px;
    font-size: 35px;
    border-bottom: seashell;
 }


  .world { 
    background-color: orange;
    color: chartreuse;
    font-size: 30px;
    text-align: center;
    border: red ; 

  }


  ul {
    font-size: 0;
  }
  li {
    background-color: yellow;
    display: inline-block;
    font-size: 20px;
    width: 25%;
  }  




  footer{

    font-size: small;
    background-color: red;

  }
  

  
