/* ・css内の順番を決めてしまったほうが今後わかりやすいかも */
/* ・とりあえず、書き込んだ後に順番を変えれば大丈夫。
  最初から順番を気にすると進まなくなる。 */
  /* 1 display 2 text-align 3 font-size 4 font-waithg
  5 background-color 6 color 7 padding 8 other */
  /* ・随時、上の順番は変えていこう。 */


  /* .header:hober{
   
  } */
      /* ヘッダーは動いていない可能性があるので、
      もしいらなかったら消そう。 */

.header{
  margin: 0px;
  background-color: lightskyblue;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;

}

.header-logo{
     text-align: center;  
     border: red;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: 900; 
    background-color: lightgreen;
    color:brown;
    padding: 30px; 
    width:80%;
    border-radius:40px;
    
  }

.header-list{
    
   
    text-align: center;
  
    font-size: 35px;
    font-weight: 600;
    background-color: green;
    color: red;
    padding: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  

   
  
    
  }

.world { 
    
    text-align: center;
    font-size: 30px;
    background-color: orange;
    color: chartreuse;
    width: 400px;
  
    /* border: red ;  */
  }

.menu {
    
    float: none;
    text-align: center;
    font-size: 20px;
   background-color: sandybrown;
    padding: 20px;
    padding-right: auto;
    padding-left: auto;
    display: flex;
    justify-content:space-evenly;
    list-style-type: none;
  }  

  .first{
  
    float: left;
    
    background-color: wheat;
    padding-top: auto ;
     padding-left: auto ;
     padding-right: auto ;
     padding-bottom: auto ;
    virchal-align: middle;
    width:80px;
    


  }

.main_menu{
  display: flex;
    padding: 10px;
 
  }

.footer{
    font-size: small;
    background-color: red;
  }
  
   
@media screen and (max-width:480px){
  
}

.cat{

  background-color: lightskyblue;

}
.dog{

  background-color: lightgoldenrodyellow;
}

.main{


background-color: lightsteelblue;

}
