/* ーーーーーーベースのシートーーーーーー */
.body{
margin:0px;
padding: 0px;
outline: 0px;
}

.header{
  display: block;
  margin: 0px;    
  background: radial-gradient(#ff8400, #ffc07b, #ddefff,#66ddf6, #63b5fd, #0b8afb);
  width: 100%;
  position:fixed;
  margin-bottom:10px;   
}

.main{
  /* background-color: lightsteelblue; */
  background: linear-gradient(#85b586,#85b586);
  height: 3500px;
  padding-top:170px;
  padding-bottom: 20px;
}      

.footer{
  text-align:left;
  font-size: small;
  background-color:lightgray;
}
.basepadding{
  padding:20px;
}

/* ーーーーーーheader枠ーーーーーー */

.header-logo{
  display: block;
  text-align: center;  
  margin-top:10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  font-size: 19px;
  font-weight: 900;
  color:green;
  padding: 15px; 
  padding-top:5px;
  width:70%;
  border-radius:40px;
  height: 60px;      
}
      
.top_menu {
   overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
  font-size: 15px;
  font-weight: 900;
  display: flex;
  float: none;
  text-align: center;
  background-color: #92ff8d78;
  padding: 5px;
  justify-content:space-evenly;
  list-style-type: none;
  /* border-radius:30px; */
  height: 60px;
  
}

.first{
  float: left; 
  background-color: #ff6e6e;
  padding:10px ;
  vertical-align: middle;
  width:150px;
  border-radius:20px;
  height: 50spx;    
}
/*
.cat{      
  background: linear-gradient(#eaedac,#89a0ff);
}

.dog{
  background: linear-gradient(#89a0ff,#eaedac);
}
*/

/* ーーーーーーmain枠ーーーーーー */

.BBB{
background-color: #8bff7d;
text-align: center;
font-weight: 800;
font-size: 25px;
}

.main_menu{        
  font-size:15px;
  padding:10px;
  text-align: center;
  background: radial-gradient(#f7f7f7, #75e4ff, #c8ff44);
 
}
.second_menu{        
  font-size:15px;
  padding:10px;
  text-align: center;
  background-color: #d6ff7b8f;     
}

.world { 
  text-align: center;
  font-size: 25px;
  background-color: #ffc9c9e8;
  color: chartreuse;
  border-radius:10px;
  height: auto;
  padding-right: 10PX;
  padding-left: 10PX;
  
}

.bonbon { 
  text-align: center;
  font-size: 25px;
  background-color:   #ff8686db;
  color: chartreuse;
  border-radius:10px;
  height: auto;
  padding-right: 10PX;
  padding-left: 10PX;
  
}

.pbqitem{
  background-color: #eef288;
  text-align: center;
   margin-left: auto;
    margin-right: auto;


}
.deliitem{
  background-color: green;
  text-align: center;
   margin-left: auto;
    margin-right: auto;


}



.h2{
font-size: 25px;
  text-align: center;
  
}

.h3{
text-align: center;
font-size: 20px;
}
      
.img{
  height: 50px;
  width: 50px;
  padding: 10px
}

.sotoyada{
  padding-right: auto;
  padding-left: 10px;
}

/* ーーーーーーfotter枠ーーーーーー */

/* ーーーーーーohter systemーーーーーー */

      
@media screen and (max-width:480px){ 
}
@media screen and (min-width:1280px){ 
}

/* ーーーーーーmemoーーーーーー */

/* 
・css内の順番を決めてしまったほうが今後わかりやすいかも
・とりあえず、書き込んだ後に順番を変えれば大丈夫。
  最初から順番を気にすると進まなくなる。
  1 display 2 text-align 3 font-size 4 font-waithg
  5 background-color 6 color 7 padding 8 other
  ・随時、上の順番は変えていこう。 */

/* CSSを各順番リスト
1 display
2 list-style
3 position
4 float
5 clear 
6 width 
7 height 
8 margin
9 padding
10 border
11 background
12 color 
13 font 
14 text-decoration 
15 text- align 
16 vertial-align
17 white-space
18 ohter text 
19 content  */
